<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Krzysztof Rewak :: rewak.pl</title>

		<link href="css/vendor/semantic.min.css" rel="stylesheet" type="text/css">
		<link href="css/style.css" rel="stylesheet" type="text/css">
	</head>

	<body>
		<div class="application" id="i18n" v-on:click.prevent="toggleLanguage">
			<div class="ui container">
				<div class="ui grid">
					<div id="cv" class="row">
						<div id="content" class="twelve wide column">
							<div class="ui segment">

								<div class="header section">
									<h1 class="ui ribbon label">
										<i class="rocket icon"></i>
										<span v-if="!translated">Cześć!</span>
										<span v-else>Hello there!</span>
									</h1>
								</div>

								<div class="section">
									<p v-if="!translated">Nazywam się <strong>Krzysztof Rewak</strong> i...</p>
									<p v-else>My name is <strong>Krzysztof Rewak</strong> and...</p>
								</div>

								<div class="header section">
									<h1 class="ui ribbon label">
										<i class="suitcase icon"></i>
										<span v-if="!translated">Doświadczenie zawodowe</span>
										<span v-else>Professional experience</span>
									</h1>
								</div>

								<div class="section">
									<h3 class="ui header">
										<img src="images/itmation.png" class="ui small circular image">
										<div class="content">
											<div class="sub header" v-if="!translated">od sierpnia 2015</div>
											<div class="sub header" v-else>since August 2015</div>
											ITMation S.A.
											<div class="sub header">Development Team Leader</div>
										</div>
									</h3>

									<p v-if="!translated">Projekt był dużym systemem webowym zaimplementowanym w Django 1.4 z wykorzystaniem m. in. technologii JavaScript, AJAX, Elasticsearch, Haystack i Celery. Podstawowymi modułami były: system zarządzania treścią w formie sklepu internetowego, płatności oraz generowanie specyficznych danych na życzenie klienta. Kod był uprzednio rozwijany przez inną firmę przez kilka lat, a sam system działał na bieżąco w internecie.</p>
									<p v-else>The project was a large web system implemented in Django 1.4 with JavaScript, AJAX, Elasticsearch, Haystack and Celery technologies involved. Basic modules included a content management system for online store, complex cart, an online payment integrations for different currencies and delivering of specific data on client requests. Code was previously developed by another company for several years and system itself was working 24/7 since 2012.</p>

									<p v-if="!translated">Do moich obowiązków należało projektowanie nowych modułów, modyfikacje już istniejących części, szeroko rozumiane prowadzenie projektowe oraz ogólnie implementacja aplikacji internetowej. Jednym z głównych przeprowadzonych zadań było pozbycie się długu technologicznego i przejście na najnowszą wersję (1.9) głównego frameworka przy ciągłej współpracy i w kontakcie z klientem oraz działem pomocy technicznej zlecającym na bieżąco nowe zadania.</p>
									<p v-else>My responsibilities included a designing of new modules, modifications of already implemented parts of the system, project management, leading a team of three developers and web/software development itself. One of major tasks was getting rid of technological debt and converting whole system to newer Django 1.9 version with continuous collaboration with customer and theirs technical support sending new tasks.</p>
								</div>

								<div class="section">
									<h3 class="ui header">
										<img src="images/itmdevlabs.png" class="ui small circular image">
										<div class="content">
											<div class="sub header" v-if="!translated">od lipca 2016</div>
											<div class="sub header" v-else>since July 2016</div>
											ITMdevlabs sp. z o.o.
											<div class="sub header" v-if="!translated">konsultant ds. systemów IT</div>
											<div class="sub header" v-else>IT systems consultant</div>
										</div>
									</h3>

									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
									consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
									cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
									proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
									consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
									cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
									proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								</div>

								<div class="section">
									<h3 class="ui header">
										<img src="images/legnicait.png" class="ui small circular image">
										<div class="content">
											<div class="sub header" v-if="!translated">od kwietnia 2016</div>
											<div class="sub header" v-else>since April 2016</div>
											Legnica.IT
											<div class="sub header" v-if="!translated">współorganizator i opiekun praktykantów</div>
											<div class="sub header" v-else>co-founder &amp; tutor</div>
										</div>
									</h3>

									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
									consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
									cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
									proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
									consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
									cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
									proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								</div>

								<div class="section">
									<h3 class="ui header">
										<img src="images/rocketlines.png" class="ui small circular image">
										<div class="content">
											<div class="sub header" v-if="!translated">od października 2015 do lipca 2016</div>
											<div class="sub header" v-else>from October 2015 to July 2016</div>
											rocketlines.com
											<div class="sub header">PHP Developer</div>
										</div>
									</h3>

									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
									consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
									cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
									proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								</div>

								<div class="section">
									<h3 class="ui header">
										<img src="images/logicon.png" class="ui small circular image">
										<div class="content">
											<div class="sub header" v-if="!translated">wakacje 2014 i 2015</div>
											<div class="sub header" v-else>summers of 2014 and 2015</div>
											Logicon Automatyka Przemysłowa
											<div class="sub header" v-if="!translated">stażysta programista-automatyk</div>
											<div class="sub header" v-else>Automation Service Engineer intern</div>
										</div>
									</h3>

									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
									consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
									cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
									proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								</div>

								<div class="header section">
									<h1 class="ui ribbon label">
										<i class="student icon"></i>
										<span v-if="!translated">Przebieg edukacji</span>
										<span v-else>Education</span>
									</h1>
								</div>

								<div class="section">
									<h3 class="ui header">
										<img src="images/pwr.png" class="ui small circular image">
										<div class="content">
											<div class="sub header" v-if="!translated">od lutego 2015 do lipca 2016</div>
											<div class="sub header" v-else>from February 2015 to July 2016</div>

											<span v-if="!translated">Automatyka i Robotyka, Technologie informacyjne w systemach automatyki</span>
											<span v-else>Control Engineering and Robotics, Information Technologies in Control Systems</span>

											<div class="sub header" v-if="!translated">Politechnika Wrocławska, Wydział Elektroniki</div>
											<div class="sub header" v-else>Wrocław University of Science and Technology, Faculty of Eletronics,</div>
											<div class="sub header" v-if="!translated">studia stacjonarne II stopnia - magisterskie</div>
											<div class="sub header" v-else>Master's degree</div>
										</div>
									</h3>

									<p v-if="!translated">Dzienne studia magisterskie obejmowały przecinające się zagadnienia z automatyki, robotyki i informatyki: między innymi teorię i metody optymalizacji, teorię sterowania, modelowanie i identyfikację, algorytmy wspomagania decyzji, algorytmy rozmyte i ewolucyjne, rozproszone i obiektowe bazy danych, zarządzanie zasobami w systemach informatycznych, programowanie systemów moblinych oraz sterowanie produkcją, magazynowaniem i transportem.</p>
									<p v-else>My full-time Master's studies covered intersecting aspects of control engineering, robotics and computer science, among others: optimization theory and advanced numerical methods, control theory, system modeling and identification, decision support algorithms, fuzzy and evolutionary algorithms, distributed and object databases, management of resources in information systems, programming of mobile devices and control of production, stocking and transport .</p>
									
									<p v-if="!translated">Moja praca dyplomowa (promotorem był dr inż. Tomasz Janiczek) pod tytułem Analiza zarządzania jakością produkcji za pomocą bazodanowego systemu agregującego opinie dotyczyła badania technik programowania aplikacji internetowych w celu wydobywania i zbierania informacji od klientów dla poprawienia jakości produkcji.</p>
									<p v-else>My diploma thesis (promoted under Tomasz Janiczek, Ph.D.) titled <em>Analysis of production quality management using a database aggregation feedback system</em> was a study of techinques of programming web applications for extracting and collecting information from customers to improve production quality.</p>

									<p v-if="!translated">Studia ukończyłem z oceną bardzo dobrą i uzyskałem tytuł magistra inżyniera.</p>
									<p v-else>I've graduated with a very good grade and I've get master's degree in result.</p>
								</div>

								<div class="section">
									<h3 class="ui header">
										<img src="images/pwr.png" class="ui small circular image">
										<div class="content">
											<div class="sub header" v-if="!translated">od września 2011 do stycznia 2015</div>
											<div class="sub header" v-else>from September 2011 to January 2015</div>

											<span v-if="!translated">Automatyka i Robotyka, Systemy informatyczne w automatyce </span>
											<span v-else>Control Engineering and Robotics, Computer Systems in Control Engineering</span>

											<div class="sub header" v-if="!translated">Politechnika Wrocławska, Wydział Elektroniki</div>
											<div class="sub header" v-else>Wrocław University of Science and Technology, Faculty of Eletronics,</div>
											<div class="sub header" v-if="!translated">studia stacjonarne I stopnia - inżynierskie</div>
											<div class="sub header" v-else>Bachelor of Engineering</div>
										</div>
									</h3>

									<p>Dzienne studia inżynierskie obejmowały przecinające się zagadnienia z automatyki, robotyki, elektroniki i informatyki: między innymi podstawy programowania strukturalnego i obiektowego, modelowanie układów dynamicznych, elektrotechnikę, elektronikę, technikę mikroprocesorową, relacyjne bazy danych, robotykę, telekomunikację, sieci komputerowe i przemysłowe, systemy operacyjne, urządzenia przemysłowe, programowanie sterowników PLC, metody numeryczne oraz przetwarzanie obrazów i sygnałów.</p>
									<p>Moja praca inżynierska (promotorem był dr inż. Krzysztof Halawa) pod tytułem Wizualizacja i zarządzanie zautomatyzowanym procesem produkcyjnym z wykorzystaniem baz danych, technologii webowych oraz platformy Raspberry Pi dotyczyła zaprojektowania i stworzenia systemu bazodanowego z graficznym interfejsem łączącego się z urządzeniami elektronicznymi.</p>
									<p>Studia ukończyłem z oceną bardzo dobrą i uzyskałem tytuł inżyniera.</p>
								</div>
							</div>
						</div>

						<div id="sidebar" class="four wide column">
 							<div class="sidebar clickable centered segment">
								<span v-if="!translated">
									<i class="gb flag"></i>
									switch to English
								</span>
								<span v-else>
									<i class="pl flag"></i>
									przełącz na polski
								</span>
							</div>

							<div class="sidebar centered darker segment">
								<img src="images/kr.png" class="ui circular small centered aligned image">
								<h1 class="name">Krzysztof Rewak</h1>
							</div>

 							<div class="sidebar segment">
								<h2 v-if="!translated">Informacje</h2>
								<h2 v-else>Basics</h2>

								<ul>
									<li>
										<i class="user icon"></i>
										<span v-if="!translated">urodzony 4 lipca 1992</span>
										<span v-else>born on 4th of July 1992</span>
									</li>
									<li>
										<i class="home icon"></i>
										<span v-if="!translated">mieszka w Legnicy</span>
										<span v-else>living in Legnica, Poland</span>
									</li>
									<li>
										<i class="globe icon"></i>
										<span v-if="!translated">obywatel Polski</span>
										<span v-else>Polish citizenship</span>
									</li>
									<li>
										<i class="university icon"></i>
										<span v-if="!translated">magister inżynier</span>
										<span v-else>Master of Science</span>
									</li>
								</ul>
							</div>

							<div class="sidebar segment">
								<h2 v-if="!translated">Języki</h2>
								<h2 v-else>Languages</h2>
								
								<ul>
									<li>
										<i class="battery full icon"></i>
										<span v-if="!translated">polski <subtitle>ojczysty</subtitle></span>
										<span v-else>Polish <subtitle>native</subtitle></span>
									</li>
									<li>
										<i class="battery high icon"></i>
										<span v-if="!translated">angielski <subtitle>C1/zaawansowany</subtitle></span>
										<span v-else>English <subtitle>C1/Advanced</subtitle></span>
									</li>
									<li>
										<i class="battery low icon"></i>
										<span v-if="!translated">niemiecki <subtitle>A1/początkujący</subtitle></span>
										<span v-else>German <subtitle>A1/Beginner</subtitle></span>
									</li>
								</ul>
							</div>

							<div class="sidebar segment">
								<h2 v-if="!translated">W internecie</h2>
								<h2 v-else>Activity online</h2>
								
								<ul>
									<li>
										<a href="http://rewak.pl/" target="_blank">
											<i class="globe icon"></i>
											rewak.pl</li>
										</a>
									<li>
										<a href="https://bitbucket.org/krewak" target="_blank">
											<i class="bitbucket square icon"></i>
											Bitbucket
											<subtitle>@krewak</subtitle>
										</a>
									</li>
									<li>
										<a href="https://www.facebook.com/Krzysztof.Rewak" target="_blank">
											<i class="facebook square icon"></i>
											Facebook
											<subtitle>@krzysztof.rewak</subtitle>
										</a>
									</li>
									<li>
										<a href="http://www.last.fm/user/Aquenral" target="_blank">
											<i class="lastfm square icon"></i>
											Last.fm
											<subtitle>@aquenral</subtitle>
										</a>
									</li>
									<li>
										<a href="https://www.linkedin.com/in/krzysztofrewak/" target="_blank">
											<i class="linkedin square icon"></i>
											LinkedIn
											<subtitle>@krzysztofrewak</subtitle>
										</a>
									</li>
									<li>
										<a href="https://untappd.com/user/krewak" target="_blank">
											<i class="check square icon"></i>
											Untappd
											<subtitle>@krewak</subtitle>
										</a>
									</li>
								</ul>
							</div>

							<div class="sidebar segment">
								<h2 v-if="!translated">Zainteresowania</h2>
								<h2 v-else>Interests</h2>
							
								<ul>
									<li>
										<i class="lab icon"></i>
										<span v-if="!translated">piwowarstwo domowe</span>
										<span v-else>homebrewing</span>
									</li>
									<li>
										<i class="rocket icon"></i>
										<span v-if="!translated">fantastyka naukowa</span>
										<span v-else>science fiction</span>
									</li>
									<li>
										<i class="tv icon"></i>
										<span v-if="!translated">amerykańskie i brytyjskie seriale</span>
										<span v-else>American &amp; British TV series</span>
									</li>
									<li>
										<i class="rebel icon"></i>
										<span v-if="!translated">Gwiezdne wojny</span>
										<span v-else>Star Wars</span>
									</li>
									<li>
										<i class="bicycle icon"></i>
										<span v-if="!translated">rower</span>
										<span v-else>cycling</span>
									</li>
								</ul>
							</div>

							<div class="sidebar segment">
								<h2>Skillset</h2>
								agile software development,
								AJAX,
								Android Studio,
								Android,
								AngularJS,
								Backbone.js,
								C#,
								C++,
								C,
								Celery,
								CodeIgniter,
								Composer,
								CSS3,
								Django,
								Docker,
								Elasticsearch,
								FuelPHP,
								Git,
								Google Analytics,
								Grunt,
								gulp.js,
								Haystack,
								HMI,
								HTML5,
								Java,
								JavaScript,
								jQuery,
								JSON,
								kanban,
								Laravel 4,
								Laravel 5,
								Linux,
								MATLAB,
								MVC,
								MySQL,
								npm,
								OOP,
								Phalcon,
								PHP,
								PLC,
								project management,
								PyCharm,
								Python,
								Sass,
								SCADA,
								Scrum,
								SEP &lt;1kV,
								SOAP,
								software project management,
								Sublime Text 3,
								Symfony,
								VirtualBox,
								Visual Studio,
								Vue.js,
								web development,
								Wordpress,
								XML
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="js/vendor/jquery.min.js"></script>
		<script type="text/javascript" src="js/vendor/semantic.min.js"></script>
		<script type="text/javascript" src="js/vendor/vue.min.js"></script>
		<script type="text/javascript" src="js/i18n.js""></script>
	</body>
</html>
