$background_color: White;
$main_color: #8eb555;
$darker_color: darken($main_color, 15%);
$lighter_color: lighten($main_color, 45%);

body {
	background: $background_color;
	color: #4f4f4f;
}

a, a:hover, a:visited, a:active {
	color: inherit;
}

p {
	text-indent: 2em;
	text-align: justify;
}

.ui.header > img {
	width: 5em !important;
}

.ui.header .content {
	padding-left: .75rem;
	vertical-align: middle;
}

#cv {
	margin: 2em 0px;
	position: relative;
	min-height: 100vh;
}

#content {
	padding-right: 0px;
	height: 100%;

	.segment {
		border-radius: 0px;
		padding: 0em;
		height: 100%;

		.section {
			padding: 3em;

			&:nth-child(even) {
				background: $lighter_color;
			}

			&.header {
				padding: 1em;
				margin: .75em 0px;

				h1 {
					background: $darker_color;
					color: White;
					text-transform: uppercase;
					font-size: 1.5em;

					&:not(:first-child) {
						margin-top: 2em;
					}

					.icon {
						width: 2em;
					}
				}
			}
		}
	}
}

#sidebar {
	background: $main_color;
	color: White;
	height: 100%;
	box-shadow: 0px 1px 2px 0px rgba(34, 36, 38, .15);
	margin-bottom: 1em;

	.sidebar.segment {
		padding: .75em;

		&.centered {
			text-align: center;
		}

		&.clickable {
			cursor: pointer;
		}

		&.darker {
			background: $darker_color;
			padding: 1.5em;
			margin: 0em -1em 1em;
		}

		ul {
			list-style-type: none;
			list-style-position: inside;
			padding-left: 0px;

			li {
				padding: .25em 0px;

				.icon {
					width: 1.75em;
					text-align: center;
				}
			}
		}

		.name {
			margin-top: .5em;
		}
	}
}

subtitle {
	opacity: 0.5;
	margin-left: .25em;
}